.wrapper {
  max-width: 897px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  .wrapper--md {
    max-width: 984px; }
  .wrapper--lg {
    max-width: 722px; }

.btn-download {
  max-width: 208px;
  height: 47px;
  padding-left: 21px;
  padding-right: 21px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  background-color: #FF6464;
  color: #ffffff;
  border-radius: 2px; }
  .btn-download:hover {
    box-shadow: 0px 0px 23px 13px rgba(74, 84, 88, 0.2); }

.desc-subtitle {
  font-size: 22px;
  line-height: 60px;
  color: #21243D; }

@media (max-width: 770px) {
  .wrapper {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px; }
    .wrapper--md {
      max-width: 770px; } }

.header__menu {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.menu__list {
  display: flex; }

.menu__item {
  margin-right: 33px;
  display: flex; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  color: #000000;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold; }
  .menu__link:hover {
    color: #FF6464; }
  .menu__link--current {
    color: #FF6464; }

.icon-works,
.icon-block,
.icon-contact {
  display: none; }

@media (max-width: 770px) {
  .menu__list {
    position: absolute;
    display: flex;
    top: 18px;
    right: 11px;
    display: none;
    height: 300px;
    width: 0px;
    background-color: #69ccf3;
    border-radius: 6px;
    opacity: 0.7;
    transform: scale(0); }
    .menu__list:hover {
      opacity: 1; }
  .menu__link {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    line-height: 44px; }
  .menu-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .menu-btn__line {
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #21243D; }
      .menu-btn__line:first-child {
        top: 0; }
      .menu-btn__line:last-child {
        bottom: 0; }
  .menu-btn.active .menu-btn__line:first-child {
    transform: rotate(45deg);
    top: 8px; }
  .menu-btn.active .menu-btn__line:last-child {
    transform: rotate(-45deg);
    bottom: 8px; }
  .menu-btn.active .menu-btn__line--hidden {
    transform: scale(0); }
  .menu__item {
    margin: 0; }
  .menu__list.active {
    padding-left: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    animation: btn-menu 0.8s 0s;
    animation-fill-mode: both;
    width: 150px; }
  @keyframes btn-menu {
    from {
      transform: translateX(100%); }
    to {
      transform: translateX(0%); } }
  .icon-works,
  .icon-block,
  .icon-contact {
    margin-right: 10px;
    font-size: 30px;
    display: inline-flex; } }

.promo__box {
  display: flex;
  justify-content: space-between;
  margin-top: 128px; }

.promo__title {
  max-width: 506px;
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 38px;
  color: #21243D; }

.promo__description {
  max-width: 497px;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 23px;
  color: #21243D; }

.promo__btn {
  margin-bottom: 71px; }

.promo__img {
  border-radius: 100%; }

@media (max-width: 770px) {
  .promo__box {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding-top: 33px; }
  .promo__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .promo__title {
    max-width: 303px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 21px;
    text-align: center;
    margin-top: 0px; }
  .promo__description {
    max-width: 318px;
    margin-bottom: 27px;
    text-align: center; }
  .promo__btn {
    margin-bottom: 58px; }
  .promo__image {
    margin-top: 0px;
    margin-bottom: 34px; } }

.posts__bg {
  background-color: #EDF7FA; }

.posts__inner {
  padding-top: 7px;
  padding-bottom: 32px; }

.posts__desc {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.posts__desc-name {
  max-width: 129px;
  max-height: 60px;
  margin-bottom: 2px; }

.posts__link {
  border-radius: 5px;
  border: 2px; }
  .posts__link:hover {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.14);
    overflow: hidden; }

.posts__link-name {
  font-size: 16px;
  line-height: 23px;
  color: #00A8CC; }

.posts-info {
  display: flex;
  justify-content: space-between; }
  .posts-info__block {
    padding: 24px 21px 7px 23px;
    background-color: #ffffff;
    margin-right: 10px; }
    .posts-info__block:last-child {
      margin-left: 10px;
      margin-right: 0; }
  .posts-info__subtitle {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D; }
  .posts-info__date {
    margin-bottom: 11px; }
  .posts-info__description {
    max-width: 368px; }

.dividing {
  margin: 0 26px; }

@media (max-width: 770px) {
  .posts__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 38px; }
  .posts__desc {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .posts__desc-name {
    max-width: 129px;
    max-height: 60px;
    margin-bottom: 2px; }
  .posts__link-name {
    display: none; }
  .posts-info {
    display: flex;
    flex-direction: column; }
    .posts-info__block {
      max-width: 354px;
      padding: 12px 21px 22px 19px;
      background-color: #ffffff;
      margin-right: 0px;
      margin-bottom: 17px; }
      .posts-info__block:last-child {
        margin: 0; }
    .posts-info__subtitle {
      margin-bottom: 19px;
      font-size: 22px;
      line-height: 30px; }
    .posts-info__date {
      margin-bottom: 19px; }
    .posts-info__description {
      max-width: 368px; }
  .date-name {
    margin: 0 26px; } }

.works__inner {
  padding: 15px 0 83px 0; }

.works__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: start; }

.works__item {
  border-bottom: 1px solid #E0E0E0; }
  .works__item:hover {
    box-shadow: 0px 0px 24px 3px rgba(50, 151, 229, 0.2); }

.works__item-dashboard {
  padding-top: 22px;
  padding-bottom: 15px;
  display: flex; }

.works__item-illustration {
  padding-top: 31px;
  padding-bottom: 35px;
  display: flex; }

.works__item-typography {
  padding-top: 31px;
  padding-bottom: 32px;
  display: flex; }

.works__item-components {
  padding-top: 31px;
  padding-bottom: 32px;
  display: flex; }

.works__item-website {
  display: none; }

.works__item-image {
  display: inline-flex; }

.works__img {
  border-radius: 6px;
  max-width: 100%;
  object-fit: cover; }

.works__item-info {
  margin-left: 18px; }

.works__item-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  color: #21243D; }

.works__item-date {
  display: flex;
  align-items: center;
  margin-bottom: 22px; }

.works__item-number {
  width: 62px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142850;
  border-radius: 16px;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px; }

.works__item-preview {
  margin-left: 26px;
  font-size: 20px;
  line-height: 29px;
  color: #8695A4; }

.works__item-description {
  max-width: 594px;
  font-size: 16px;
  line-height: 23px;
  color: #21243D; }

.works__item-description--width {
  max-width: 507px; }

@media (max-width: 770px) {
  .works__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px; }
  .works__desc {
    text-align: center; }
  .works__item {
    max-width: 344px; }
  .works__item-dashboard, .works__item-website {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 17px; }
  .works__item-illustration, .works__item-typography, .works__item-components {
    display: none; }
  .works__item-image {
    margin-bottom: 17px; }
  .works__img {
    width: 339px;
    height: 230px; }
  .works__item-info {
    margin-left: 0; }
  .works__item-title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 30px; }
  .works__item-date {
    margin-bottom: 25px; }
  .works__item-description {
    max-width: 594px;
    font-size: 16px;
    line-height: 23px;
    color: #21243D; }
  .works__item-description--width {
    max-width: 507px; } }

.footer__inner {
  padding-top: 51px;
  padding-bottom: 54px; }

.footer__social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 26px; }

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__social-item {
  margin-right: 35px; }
  .footer__social-item:hover {
    box-shadow: 0px 0px 47px 2px rgba(50, 151, 229, 0.2) inset; }
  .footer__social-item:last-child {
    margin-right: 0; }

.footer__social-icon {
  width: 30px;
  height: 32px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #21243D;
  border-radius: 5px; }
  .footer__social-icon:hover {
    box-shadow: 0px 0px 24px 19px rgba(50, 151, 229, 0.2); }

.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #21243D; }

.blog__inner {
  padding-top: 90px;
  color: #21243D; }

.blog__title {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 23px; }

.blog__info-item {
  padding-top: 32px;
  border-bottom: 1px solid #E0E0E0; }

.blog__info-title {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px; }

.blog__info-date {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 6px; }

.blog__info-text {
  color: #8695A4; }

.blog__info-description {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 29px; }

@media (max-width: 770px) {
  .blog__inner {
    padding-top: 24px; }
  .blog__title {
    font-size: 30px;
    margin-bottom: 0px; }
  .blog__info-list {
    padding-bottom: 57px; }
  .blog__info-item {
    padding-top: 18px; }
  .blog__info-title {
    margin-bottom: 5px;
    font-size: 26px;
    line-height: 38px; }
  .blog__info-date {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 17px; }
  .blog__info-description {
    margin-bottom: 24px; } }

.work__title {
  max-width: 506px;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  color: #21243D;
  margin-bottom: 30px; }

.work__desc {
  display: flex;
  margin-bottom: 23px; }

.work__desc-year {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 25px;
  border-radius: 16px;
  background-color: #FF6464;
  font-weight: 900;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff; }

.work__desc-text {
  font-size: 20px;
  line-height: 29px;
  margin-left: 17px;
  color: #21243D; }

.work__text {
  max-width: 681px;
  margin-bottom: 46px;
  font-size: 16px;
  line-height: 23px; }

.work__preview {
  padding-top: 54px; }

.work__preview-title, .work__preview-subtitle {
  margin-bottom: 20px;
  color: #21243D; }

.work__preview-text {
  margin-bottom: 30px;
  max-width: 677px;
  font-size: 16px;
  line-height: 23px; }

.work__img {
  display: block;
  object-fit: cover; }

.preview-img-car,
.preview-img-order {
  display: block;
  object-fit: cover;
  margin-bottom: 27px; }

@font-face {
  font-family: "Heebo";
  src: url("fonts/Heebo-VariableFont_wght.woff"), url("fonts/Heebo-VariableFont_wght.woff2");
  font-display: swap; }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .page__content {
    flex: 1; }
