footer.footer
  .wrapper
    .footer__inner
      .footer__social-block
        ul.footer__social-list
          li.footer__social-item
            a(href="#" aria-label="social").footer__social-link
              .footer__social-fb
                .footer__social-icon.icon.icon-fb
          li.footer__social-item
            a(href="#" aria-label="social").footer__social-link
              .footer__social-insta
                .footer__social-icon.icon.icon-insta
          li.footer__social-item
            a(href="#" aria-label="social").footer__social-link
              .footer__social-twitter
                .footer__social-icon.icon.icon-twitter
          li.footer__social-item
            a(href="#" aria-label="social").footer__social-link
              .footer__social-in
                .footer__social-icon.icon.icon-in
      .footer__copyright
        .footer__copyright-text Copyright ©2020 All rights reserved
