header.header
  .wrapper.wrapper--md
    .header__menu
      .menu-btn
        span.menu-btn__line
        span.menu-btn__line.menu-btn__line--hidden
        span.menu-btn__line
      .menu.js-menu
        ul.menu__list
          li.menu__item
            a(href="/works.html" aria-label="menu").menu__link Works
              .icon.icon-works
          li.menu__item
            a(href="/blog.html" aria-label="menu").menu__link Blog
              .icon.icon-block
          li.menu__item
            a(href="/contact.html" aria-label="menu").menu__link Contact
              .icon.icon-contact