section.promo
  .wrapper
    .promo__box
      .promo__flex
        h2.promo__title
          |Hi, I am John,
          br
          |Creative Technologist
        .promo__description
          |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          |sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
          |consequat sunt nostrud amet.
        .promo__btn
          a(href="#" aria-label="btn").btn-dawnload__link
            .btn-download Download Resume
      .promo__image
        img(src='/images/author.png' width="243" height="243" alt='img').promo__img
