extends ../layouts/default.pug

block content
  .blog
    .wrapper.wrapper--lg
      .blog__inner
        h1.blog__title Blog
        .blog__info
          ul.blog__info-list
            li.blog__info-item
              h3.blog__info-title UI Interactions of the week
              .blog__info-date 12 Feb 2019
                span.dividing |
                span.blog__info-text Express, Handlebars
              .blog__info-description
                |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia 
                |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            li.blog__info-item
              h3.blog__info-title UI Interactions of the week
              .blog__info-date
                |12 Feb 2019
                span.dividing |
                span.blog__info-text Express, Handlebars
              .blog__info-description
                |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia 
                |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            li.blog__info-item
              h3.blog__info-title UI Interactions of the week
              .blog__info-date
                |12 Feb 2019
                span.dividing |
                span.blog__info-text Express, Handlebars
              .blog__info-description
                |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia 
                |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            li.blog__info-item
              h3.blog__info-title UI Interactions of the week
              .blog__info-date
                |12 Feb 2019
                span.dividing |
                span.blog__info-text Express, Handlebars
              .blog__info-description
                |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia 
                |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.