extends ../layouts/default.pug

block content
  section.works
    .wrapper
      .works__inner
        .works__desc
          .works__title Work
        ul.works__list
          li.works__item
            a(href="work.html" aria-label="works").works__item-link
              .works__item-dashboard
                .works__item-image
                  img(src='images/dashboard.png' width="246" height="180" alt='img').works__img
                .works__item-info
                  .works__item-title Designing Dashboards
                  .works__item-date
                    .works__item-number 2020
                    .works__item-preview Dashboard
                  .works__item-description
                    |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit 
                    |officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
                    |nostrud amet.
          li.works__item
            a(href="#" aria-label="works").works__item-link
              .works__item-illustration
                .works__item-image
                  img(src='images/illustration.png' width="246" height="180" alt='img').works__img
                .works__item-info
                  .works__item-title Vibrant Portraits of 2020
                  .works__item-date
                    .works__item-number 2018
                    .works__item-preview Illustration
                  .works__item-description
                    |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit 
                    |officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
                    |nostrud amet.
          li.works__item
            a(href="#" aria-label="works").works__item-link
              .works__item-typography
                .works__item-image
                  img(src='images/typography.png' width="246" height="180" alt='img').works__img
                .works__item-info
                  .works__item-title 36 Days of Malayalam type
                  .works__item-date
                    .works__item-number 2018
                    .works__item-preview Typography
                  .works__item-description.works__item-description--width
                    |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit 
                    |officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
                    |nostrud amet.
          li.works__item
            a(href="#" aria-label="works").works__item-link
              .works__item-components
                .works__item-image
                  img(src='images/components.png' width="246" height="180" alt='img').works__img
                .works__item-info
                  .works__item-title Components
                  .works__item-date
                    .works__item-number 2018
                    .works__item-preview Components, Design
                  .works__item-description.works__item-description--width
                    |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit 
                    |officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
                    |nostrud amet.
          li.works__item
            a(href="#" aria-label="works").works__item-link
              .works__item-website
                .works__item-image
                  img(src='images/website.png' width="246" height="180" alt='img').works__img
                .works__item-info
                  .works__item-title Designing Landing pages
                  .works__item-date
                    .works__item-number 2018
                    .works__item-preview Website
                  .works__item-description.works__item-description--width
                    |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit 
                    |officia consequat duis enim velit mollit. Exercitation veniam consequat sunt 
                    |nostrud amet.