extends ../layouts/default.pug

block content
  section.work
    .wrapper
      .work__inner
        h1.work__title Designing Dashboards with usability in mind
        .work__desc
          .work__desc-year 2020
          .work__desc-text Dashboard, User Experience Design
        .work__text
          |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .work__image
          img(src='images/work-dashboard.png' width="681" height="460" alt='img').work__img
        .work__preview
          h2.work__preview-title Heading 1
          h3.work__preview-subtitle Heading 2
          .work__preview-text
            |Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
            |consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          .work__preview-images
            img(src='images/car.png' width="681" height="460" alt='img').preview-img-car
            img(src='images/order.png' width="681" height="460" alt='img').preview-img-order